{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <article class="col" itemscope itemtype="https://schema.org/BlogPosting">
            <header>
                <h1 class="mt-4" itemprop="name">{{ post.title }}</h1>
            </header>
            <div itemprop="articleBody">
                {{ post.content }}
            </div>
            <footer>
                {% if post.date_published %}<p>Posted on <span itemprop="datePublished" content="{{ post.date_published }}">{{ post.date_published }}</span></p>{% endif %}
            </footer>
        </article>
    </div> <!-- .row -->
  </div> <!-- .container -->
{% endblock %}
