<!-- Sidebar Widgets Column -->
<div class="col-md-4">

<!-- TODO: SEARCH -->
<!-- <div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-append">
        <button class="btn btn-secondary" type="button">Go!</button>
        </span>
    </div>
    </div>
</div> -->

<div class="card my-4">
    <h5 class="card-header">Tags</h5>
    <div class="card-body">
    <div class="row">
        <div class="col-md-12">
        {% for tag in tags %}
        <a href="/tags/{{ tag }}/">{{ tag }}</a>{{ ", " if not loop.last }}
        {% endfor %}
        </div>
    </div>
    </div>
</div>
</div>